<div class="contents row">
  <p><%= @name %>さんの投稿一覧</p>
  <ul class="memo-lists">
    <% @memos.each do |memo| %>
      <li class='list'>
        <div class="memo__body">
          <div class="memo__detail">
            <p class="detail__title">メモタイトル</p>
            <p class="detail__memo-title">
              <%= link_to memo.title, memo_path(memo.id), class: :memo__title%>
            </p>
          </div>

          <div class="memo__detail">
            <p class="detail__title">メモ内容</p>
            <p class="detail__content">
              <%= memo.content %>
            </p>
          </div>
        </div>
        <div class='star-btn' id="favorite_<%= memo.id %>">
          <%= render "favorites/favorite", memo: memo %>
        </div>
      </li> 
    <% end %>
  </ul>
</div>