<main class="main">
  <div class="inner">
    <div class="memo__wrapper">
      <p class="memo__hedding">
        <%= @memo.title %>
      </p>
      <%= link_to "by #{@memo.user.name}", "#", class: :memo__user %>
      <%# メモの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @memo.user.id %>
        <div class="memo__manage">
          <%= link_to "編集する", edit_memo_path(@memo.id), class: :memos__btn %>
          <%= link_to "削除する", memo_path(@memo.id), method: :delete, class: :memos__btn %>
        </div>
      <% end %>
      <%# // メモの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="memo__body">
        <div class="memo__detail">
          <p class="detail__title">メモ内容</p>
          <p class="detail__content">
            <%= @memo.content %>
          </p>
        </div>
        <div class='star-btn' id="favorite_<%= @memo.id %>">
          <%= render partial: "favorites/favorite", locals: { memo: @memo } %>
        </div>
      </div>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with model: @comment, url: memo_comments_path(@memo.id), local: true do |f| %> 
            <div class="field">
              <%= f.label :content, "コメント" %><br /> 
              <%= f.text_field :content %> 
            </div>
            <div class="actions"> 
              <%= f.submit "送信する", class: :form__btn  %> 
            </div>
          <% end %>  
        <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <% if @comments %>
            <% @comments.each do |comment| %>
              <li class="comments_list">
                <%= comment.content %>
                <%= link_to comment.user.name, user_path(comment.user.id), class: :comment_user %> 
              </li> 
            <% end %>  
          <% end %>  
        </ul>
      </div>
    </div>
  </div>
</main>