<!DOCTYPE html>
<html>
  <head>
    <title>MemoAppDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">MemoApp</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <span><%= current_user.name %>
              <ul class="user__info">
                <li>
                  <%= link_to "マイページ", user_path(current_user.id) %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </span>
            <%= search_form_for @q, url: memo_genre_path do |f| %>
              <%= f.collection_select :genre_id_eq, Genre.where.not(id: 0), :id, :name, include_blank: "ジャンル検索" %>
              <%= f.submit '検索' %>
            <% end %>
            <%= link_to "メモを探す", "#", class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © Memo App All rights reserved.</p>
    </footer>
  </body>
</html>
